body {
         background-size: cover;  
    background-position: center;  
    background-attachment: fixed;  
    margin: 0;
    height: 100vh;  
    font-family: Arial, sans-serif;
    color: white;  
}
.secton{
    background-image: url('subtle-cinematics-KEI-VNDi0_g-unsplash.jpg');
}

.cards{
    margin: 100px;
    justify-items: end;

}

.card1{
    background-color:rgba(26, 25, 117, 0.881);
    border-color: darkblue  ;
    align-content: start;
    flex-wrap: wrap;
}

.card3{
    background-color:rgba(26, 25, 117, 0.881);
    border-color: darkblue  ;
    align-content: end;
}

.welcomee{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: rgba(6, 79, 67, 0.776);
}

.ourgoal{
    text-align: center;
    font-size: 26px;
    margin-bottom: 40px;
    color: white;
    
}

.ourgoalw{
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
    
    
}

.box{
    align-content: center;
    align-content: center;
    background-color:rgba(6, 79, 67, 0.776);
    margin-top: 100px;
    margin-left: 500px;     
    padding: 10px;
    border-radius: 20px;
    width: 500px;
}

.loginbutton{
    background-color: rgb(70, 63, 168);
    text-align: center;
    color: white;
    padding: 10px 10px;
    font-size: 18px;
    text-align: center;
    margin: 5px 5px;
    border-radius: 10px;

}

.blogwebname{
    color: white;
    font-size: 32px;
    font-weight: 700;
}
.navbarr{
    background-image: url('subtle-cinematics-KEI-VNDi0_g-unsplash.jpg');
}

.homebutton{
    color: white;
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.homebutton:hover{
    transition: ease 1;
    color:rgb(70, 63, 168)

}


.blogsbutton{
    color: white;
    font-size: 22px;
    font-weight: 500;
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.blogsbutton:hover{
    color:rgb(70, 63, 168);

}

